.hunterProgBox {
    border: 1px dashed black;
    min-width: 75%;
    min-height: 75%;
    padding: 1em;
    border-radius: 1em;
}

.currentStepProg {
    display: flex;
    flex-direction: row;
    padding: 1em;
    border-radius: 1em;
    justify-content: space-evenly;
    background-color: rgb(248, 216, 164, .43);
}

.currentClueInfo {
    display: flex;
    flex-direction: column;
    /* padding: 1em; */

}

/* .unlockClue {
    padding-top: .5em;
    padding-bottom: .5em;
} */

.completedClues {
    margin: 1em;
    padding: 1em;
    background-color: rgb(248, 216, 164, .43);
}