.clueContainer {
    margin: 1em;
    padding: 1em;
    border: 1px dashed blue;
}

.currentStepBox {
    margin: 1em;
    padding: 1em;
    border: 1px dashed blue;
}

.compeletedStepsBox {
    margin: 1em;
    padding: 1em;
    border: 1px dashed blue;
}
.completedClueListing{
    margin: 1em;
    padding: 1em;
    border: 1px dashed blue;
}