.clueContainer {
    padding: 1em;
    border: 1px dashed black;
    border-radius: 1em;
}

.currentStepBox {
    margin: 1em;
    padding: 1em;
    /* border: 1px dashed black; */
}

/* .compeletedStepsBox {
    margin: .2em;
    padding: 1em;
    border: 1px dashed black;
    border-radius: .5em;
} */

.completedClueListing{
    margin: .1em;
    padding: 1em;
    border: 1px dashed black;
    border-radius: .5em;
}

.header {
    display: flex;
    justify-content: space-between;
}
.header > div {
    display: flex;
    flex-direction: column;
    justify-content: space;
}

.header > div > h2 {
    margin: 0;
    padding: 0;
}

.checkingLocation {
    display: flex;
    flex-direction: column;    
    justify-content: space-evenly;
}

.checkingLocation > div {
    text-align: center;
    font-size: 3rem;
    animation: blink 2s linear infinite;
}

@keyframes blink {
    0% {
      opacity: .25;
    }

    50% {
      opacity: .75;
    }

    100% {
      opacity: .25;
    }
  }