/* .newHuntButton {
    background-color: aqua;
    border: dotted blue 1px;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    max-height: 4em;
}

.stepButtons button {
    background-color: aqua;
    margin: .1em;
    padding: .3em;
    border-radius: .5em;
} */

.attribution {
    font-size: .5em;
}

h1 {
    font-size: 1.5em;
    margin: .5rem;
    padding: 0;
}

h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

/* * {
    border: 1px dashed black;
    margin: 1em;
    padding: 1em;
} */

.pageHeader {
    display: flex;
}

.pageHeader > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mapImg {
    max-height: 1.5em;
}