.newHuntButton {
    background-color: aqua;
    border: dotted blue 1px;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    max-height: 4em;
}

.stepButtons button {
    background-color: aqua;
    margin: .1em;
    padding: .3em;
    border-radius: .5em;
}

/* * {
    border: 1px dashed black;
    margin: 1em;
    padding: 1em;
} */