.inviteList {
    max-width: fit-content;
}

.userListing {
    display: flex;
    justify-content: space-between;
    text-align: left;
    background-color: rgba(255, 239, 213);
    border-radius: 1em;
    margin: .5em;
    padding: .5em;
}

.userListing > * {
    margin: 0 .5em;
}

.userListing > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}