.huntBox {
    min-width: 75%;
    min-height: 75%;
    padding: 1em;
    border: 1px black dashed;
    border-radius: 1em;
}

.stepButtons {
    display: flex;
    flex-direction: column;
    min-width: 15%;
}

.singleStep {
    display: flex;
    justify-content: space-between;
    margin: .5em 0;
    padding: .5em;
    border: 1px black dashed;
    border-radius: .5em;
}

.stepInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 70%;
    text-align: center;
}

.clueStats {
    display: flex;
    flex-direction: horizontal;
    border-bottom: 1px black solid;
}

.clueStats > div {
    margin: .1em 1em;
}

.clueText, .clueAnswer {
    text-align: left;
}

.hunterInfo {
    display: flex;

}
.header {
    display: flex;
    justify-content: space-between;
}

.huntBox h2 {
    text-align: center;
} 
.hunterStatus {
    display: flex;
    margin: .5em 0;
    padding: .1em .1em .1em .5em;
    justify-content: space-between;
    border: 1px black dashed;
    border-radius: .5em;
}

.hunterStatus > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}