/* .newHuntForm {
    margin: 1em;
    padding: 1em;
} */
.clueList {
    border: 1px dashed blue;
    padding: 1em;
}

.creatHunt {
    margin: 1em;
    padding: 1em;
    padding: 1em;
    border: 1px dashed blue;
}

.hunters {
    padding: 1em;
}

.createHuntButtons {
    display: flex;
}

.editingClue {
    border: 1px dashed blue;
    margin: 1em;
    padding: .5em;
}